html { 
	font-family: sans-serif;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
  	-webkit-font-smoothing: antialiased;
  	text-align: center;
	display: flex;
	justify-content: center;
}

#background {
	background-color: rgba(230, 249, 245, 1.0);
	height: 100%;
}

#privacyBackground {
	height: auto;
}

p {
	font-weight: 500;
	font-size: 20px;
	text-shadow: 1px 1px 10px rgba(255, 255, 255, 1.0);
	color: rgba(0, 0, 0, 0.85);
}

.stackText {
	width: 420px;
	max-width: 90%;
	font-family: 'Roboto Mono', monospace; 
}

#note {
	font-size:  14px;
	margin-bottom: 32px;
}

b {
	font-weight: 700;
	color: rgba(0, 0, 0, 1.0);
}

#event {
	margin-top: -12px;
	max-width: 100%;
}

.menubutton {
	background-color:  var(--regular-background-color);
	padding: 8px 16px;
	border-radius: 16px;
	font-size: 14px;
	color: rgba(2, 192, 158, 1.0);
	font-weight: 700;
	transition: background-color 250ms, transform 250ms;
	font-family: 'Roboto Mono', monospace; 
}

.menubutton:hover {
	background-color: var(--hover-background-color);
}

.menubutton:active {
	transform: scale(0.98);
}

.button {
	background-color:  var(--regular-background-color);
	padding: 12px 24px;
	border-radius: 24px;
	font-size: 18px;
	color: rgba(2, 192, 158, 1.0);
	font-weight: 700;
	transition: background-color 250ms, transform 250ms;
	font-family: 'Roboto Mono', monospace; 
}

.button:hover {
	background-color: var(--hover-background-color);
}

.button:active {
	transform: scale(0.98);
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#stack {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: auto;
	margin-bottom: auto;
	max-width: 100%;
	opacity: 0;
}

#presskitButton {
	position:absolute;
	top: 12px;
	right: 12px;
	/*margin-top: 16px;*/
	/*margin-right:  16px;*/
}

#textblock {
	display: flex;
	flex-direction: column;
	max-width: 88%;
	text-align: left;
	margin-top: 64px;
	margin-bottom: 64px;
	line-height: 1.5;
}

#stack.loaded {
	animation: fade 0.3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

#long-segment {
	width: 6px;
	height:  17px;
	background-color: rgba(0, 0, 0, 0.07);
	border-radius: 3px;
}

#short-segment {
	width: 6px;
	height:  12px;
	background-color: rgba(0, 0, 0, 0.07);
	margin-bottom: 6px;
	margin-top:  6px;
	border-radius: 3px;	
}

#timeline {
	margin-bottom: 12px;
	margin-top:  12px;
}

h2 {
	padding-top: 16px;
}

#bottomButton {
	margin-bottom: 16px;
}